.resultsBlock {
    * {
        border: 1px solid black;
    }

    .resultsWindow {
        margin-bottom: 20px;
    }

    .resultItem:not(:last-child) {
        margin-bottom: 10px;
    }

    button:not(:last-child) {
        margin-right: 25px;
    }

    .prevButton,
    .nextButton {
        background-color: white;
        padding: 5px 9px;
        &:hover {
            background-color: whitesmoke;
            cursor: pointer;
        }
    }
}
