// методология BEM явно не создавалась в расчёте
// на реакт приложения.......

.page {
    background-color: rgb(255, 230, 192);
    display: flex;
    flex-direction: column;
    // и на пк будет минимум до низа страницы,
    // и на мобилках растянется в случае чего
    min-height: 100vh;

    &__menu-block {
    }
    &__question-block {
    }
    &__result-block {
    }
    .showResultsButton {
        background-color: white;
        padding: 7px 10px;
        &:hover {
            cursor: pointer;
            background-color: whitesmoke;
        }
    }
}

._container {
    max-width: 1200px;
    margin: 0 auto;
    // чтобы паддинг добавляющий
    // отсупы по краям на смартфонах
    // не вылезал за установленную
    // ширину
    box-sizing: border-box;
}

.menu-block {
    &__container {
    }
}

.menu-block,
.question-block,
.result-block {
    margin-top: 100px;
    @media (max-width: 720px) {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__container {
        // display: flex;
        justify-content: center;
        // это для отступов по краям на смартфонах
        padding: 0 15px;
    }
}

.question-block__container,
.result-block__container {
}

// поскольку родитель является flex боксом,
// то и ширину ограничивать не пришлось
.question-block__question-window {
}

.qusetion-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > *:not(:last-child) {
        margin-bottom: 10px;
    }
}

.interaction-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    &__next-button {
        border: none;
        padding: 7px 20px;
        max-width: 100px;
        // margin-top: 20px;

        &:hover {
            background-color: rgb(199, 199, 199);
        }

        &:active {
            background-color: whitesmoke;
        }
    }

    &__current-test {
    }
}

.menu-block__window,
.question-block__question-window,
.result-block__window {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    width: 100%;
    min-height: 400px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    // это либо самая тупая вещь в мире,
    // либо сама большая гениальность
    >*:first-child {
        flex-grow: 1;
    }

    >*:not(:last-child) {
        margin-bottom: 20px;
    }

    @media (max-width: 720px) {
        padding: 12.5px 15px;
    }
}

.result-block__container {
}

.result-block__window {
}

.results-block {
    display: block;
}

// тут кончается БЭМ и моё терпение

.showResultsButton {
    display: block;
}