.answers {
    .answersBlock {
        overflow-y: scroll;
        max-height: 300px;
        // box-shadow: gray 0 0 15px;
        border: 2px solid rgb(222, 179, 241);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 9px 12px;

        ul {
            margin-bottom: 10px;
            padding: 5px 8px;
            box-sizing: border-box;
            border-radius: 3px;

            *:first-child {
                margin-bottom: 5px;
                font-size: 19px;
            }

            *:not(:last-child):not(:first-child) {
                margin-bottom: 2px;
            }

            &:nth-child(even) {
                background-color: rgb(255, 254, 241);
            }
        }

        .correct {
            color: rgb(33, 199, 33);
        }

        .wrong {
            color: red;
        }
    }

    *:first-child {
        margin-bottom: 25px;
    }

    *:not(:last-child):not(:first-child) {
        margin-bottom: 10px;
    }
}
