.questionsBlock {
    background-color: rgb(255, 186, 186);
    padding: 12px;
    border-radius: 15px;
}

.questionTitle {
    margin: 0 0 15px 10px;
    font-size: 25px;
}

.questionText {
    font-size: 20px;
    margin: 0 0 15px 10px;
}

.answersBlock {
    > *:not(:last-child) {
        margin-bottom: 8px;
    }
}

.answerBlock {
    background-color: rgb(255, 255, 255);
    padding: 6px 9px;
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: 3px;
}

// кружок выбора
.answerInput {
    margin-left: 3px;
}

// текст ответов
.answerLabel {
    margin-left: 5px;
}
